# Variables d'environnement pour le SDK DPD France

# URL API
DPD_API_URL=https://api-sandbox.dpd.fr

# Token d'origine créé sur le site DPD (obligatoire)
DPD_ORIGINAL_TOKEN=votre_token_original_dpd

# Paramètres du token SDK à générer (optionnel)
DPD_TOKEN_ID=SDK Token
DPD_TOKEN_TTL=3600
